@use "../tools/functions";

.card__item {
    position: relative;
    border-radius: 12px;

    img {
        width: 100%;
    }

    .card__item-info {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        width: 264px;

        &.left {
            left: 20px;
        }

        &.right {
            left: auto;
            right: 20px;
            text-align: end;

            svg {
                left: 12px !important;
            }
        }

        &.center-right {
            left: auto;
            right: 96px;
        }

        .card__item-info-intro, .card__item-info-title, .card__item-info-sub-title, .card__item-info-link {
            font-family: "Core Sans C", serif;
            line-height: 1.566rem;
            letter-spacing: 0.251px;
        }

        .card__item-info-intro {
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 1.879rem;
            margin-bottom: functions.space(3);
        }

        .card__item-info-title {
            font-weight: bold;
            font-size: 2.125rem;
            line-height: 2.819rem;
            letter-spacing: inherit;
            margin-bottom: functions.space(1);
        }

        .card__item-info-sub-title {
            margin-bottom: functions.space(5.25);
        }

        .card__item-info-link {
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 1.883rem;
            letter-spacing: inherit;
            text-decoration-line: underline;

            &:hover {
                color: var(--primary);
            }
        }
    }


    &.small-font {
        .card__item-info {
            width: 155px;

            .card__item-info-intro {
                font-weight: normal;
                font-size: 0.7rem;
                line-height: inherit;
                margin-bottom: functions.space(1);
            }

            .card__item-info-title {
                font-size: 1.75rem;
                line-height: 2.402rem;
                letter-spacing: 0.56px;
            }

            .card__item-info-sub-title {
                font-size: 1.125rem;
                line-height: inherit;
                font-weight: bold;
                margin-bottom: functions.space(4.5);
            }

            svg {
                position: relative;
                left: -12px;
                width: 1.625rem;
                height: 1.625rem;
                margin: 0 auto functions.space(5.5);
                color: currentColor;
            }

            .card__item-info-link, .card_item-info-span {
                border-radius: 4px;
                border: solid 1.5px currentColor;
                font-weight: 500;
                font-size: 0.75rem;
                padding: functions.space(1) functions.space(4);
                text-decoration: none;
                text-transform: uppercase;
            }

            .card_item-info-span {
                display: inline-flex;
                margin-bottom: functions.space(3.5);
                color: var(--white);
                background: var(--dark);
                border: none;
                font-weight: normal;
                text-transform: none;
            }
        }
    }


}
