@use "../tools/functions";


.carousel {
    position: relative;
    overflow: hidden;
    padding: 0 functions.space(6.25) 0 functions.space(10);

    .carousel__container {
        display: flex;
        gap: functions.space(3.75);
        transform: translate3d(0, 0, 0);
        transition: .3s;

        &:after {
            content: '';
            clear: both;
            display: table;
        }

        .carousel__container-item {
            display: flex;
            flex-direction: column;
            gap: functions.space(4);

            img {
                border-radius: 12px;
            }

            .carousel__container-item-title {
                font-family: "Causten", serif;
                color: var(--dark);
                font-size: 1.25rem;
                font-weight: bold;
                letter-spacing: 0.2px;
            }
        }
    }

    .carousel__buttons {
        .carousel__buttons-prev, .carousel__buttons-next {
            position: absolute;
            width: 80px;
            height: 102%;
            z-index: 11;
            text-indent: -3000px;
            cursor: pointer;
            transition: .3s;
            top: -1px;
            left: 0;
            background-color: var(--white);

            &:after {
                display: block;
                content: '';
                background-color: var(--dark);
                mask: url("/images/arrow.svg") center center / 24px 44px no-repeat;
                height: 100%;
                width: 80px;
                transition: .3s;
            }

            &:hover, &:focus {
                &:after {
                    background-color: var(--primary);
                }
            }
        }

        .carousel__buttons-next {
            right: 0;
            left: auto;
            transform: rotate(180deg);
        }
    }
}
