@use "../tools/functions";

.deals {
    .container {
        .deals__items {
            display: flex;
            gap: functions.space(3.75);
            flex-wrap: wrap;
            justify-content: center;

            &.gap-20{
                gap: functions.space(2.5);
            }
        }
    }
}
