@use "../tools/functions";

.feedback {
    .feedback__card {
        display: block;
        border-radius: 10px;
        border: solid 1.8px var(--grey);
        padding: functions.space(3);
        width: 292px;

        .feedback__card-header {
            margin-bottom: 20px;

            .feedback__card-header-user {
                display: flex;
                img {
                    width: 60px;
                    height: 60px;
                    margin-bottom: 20px;
                }


                .feedback__card-header-stars {
                    span {
                        color: #EDD146;
                        float: right;

                        &:before {
                            display: inline-block;
                            font-size: 1.1rem;
                            padding: .3rem .2rem;
                            margin: 0;
                            cursor: pointer;
                            font-family: FontAwesome, serif;
                            content: "\f006 "; /* full star */
                        }

                        &.half {
                            &:before {
                                content: "";
                                position: absolute;
                                padding-right: 0;
                            }
                        }
                    }

                    &[data-rate^="1"], &[data-rate^="2"], &[data-rate^="3"], &[data-rate^="4"], &[data-rate^="5"] {
                        span:nth-child(9) {
                            &:before {
                                content: "\f005 "; /* full star */
                            }
                        }
                    }

                    &[data-rate^="2"], &[data-rate^="3"], &[data-rate^="4"], &[data-rate^="5"] {
                        span:nth-child(7) {
                            &:before {
                                content: "\f005 "; /* full star */
                            }
                        }
                    }

                    &[data-rate^="3"], &[data-rate^="4"], &[data-rate^="5"] {
                        span:nth-child(5) {
                            &:before {
                                content: "\f005 "; /* full star */
                            }
                        }
                    }

                    &[data-rate^="4"], &[data-rate^="5"] {
                        span:nth-child(3) {
                            &:before {
                                content: "\f005 "; /* full star */
                            }
                        }
                    }

                    &[data-rate^="5"] {
                        span:nth-child(1) {
                            &:before {
                                content: "\f005 "; /* full star */
                            }
                        }
                    }

                    &[data-rate="4.5"] {
                        span:nth-child(2) {
                            &:before {
                                content: "\f123";
                            }
                        }
                    }

                    &[data-rate="3.5"] {
                        span:nth-child(4) {
                            &:before {
                                content: "\f123";
                            }
                        }
                    }

                    &[data-rate="2.5"] {
                        span:nth-child(6) {
                            &:before {
                                content: "\f123";
                            }
                        }
                    }

                    &[data-rate="1.5"] {
                        span:nth-child(8) {
                            &:before {
                                content: "\f123";
                            }
                        }
                    }

                    &[data-rate="0.5"] {
                        span:nth-child(10) {
                            &:before {
                                content: "\f123";
                            }
                        }
                    }
                }
            }

            .feedback__card-header-user-name {
                font-family: "Core Sans C", serif;
                font-weight: bold;
                letter-spacing: 0.44px;
                font-size: 1.375rem;
                color: var(--dark);
            }
        }

        .feedback__card-body {
            padding: 0;
            font-size: 0.875rem;
            color: var(--grey);
            letter-spacing: 0.28px;
        }
    }
}
