@use "../tools/functions";

.footer {
    position: relative;
    margin: auto;
    background: var(--dark);
    color: var(--grey-4);

    .container {
        padding: functions.space(7.5) functions.space(13.75);
        display: flex;
        flex-direction: column;
        gap: functions.space(2);
    }


    .footer_info {
        display: flex;
        width: 100%;
        padding: 0 functions.space(9.25);
        gap: functions.space(7);

        .footer__info-item {
            line-height: 216.9%;

            .footer__info-item-title {
                font-size: 1.786rem;
                font-weight: bold;
                margin-bottom: functions.space(2);
            }

            ul {
                li {
                    font-size: 1.125rem;

                    a {
                        color: var(--grey-4);

                        &:hover {
                            color: var(--primary);
                        }
                    }
                }
            }
        }

        .footer__socials {
            display: flex;
            gap: functions.space(1);
            align-items: flex-end;
            height: 100%;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 38px;
                height: 38px;
                color: var(--dark);
                background: var(--grey-3);
                border-radius: 10px;

                svg {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    color: var(--grey-4);
                    background: var(--primary);
                }
            }
        }

        .footer__store {
            display: flex;
            gap: functions.space(1);

            a {
                display: flex;
                background: #404040;
                border-radius: 8px;
                color: var(--grey-4);
                padding: functions.space(1.125) functions.space(1);
                gap: functions.space(1);
                justify-content: center;
                align-items: center;
                width: 155px;

                svg {
                    width: 30px;
                    height: 30px;
                }

                .footer__store-info {
                    display: flex;
                    flex-direction: column;

                    .footer__store-info-title {
                        font-size: 0.725rem;
                        line-height: 1.2;
                    }

                    .footer__store-info-name {
                        font-size: 1.125rem;
                        line-height: 1.2;
                    }
                }

                &:hover {
                    background: var(--primary);
                }
            }
        }
    }

    .footer__categories {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: functions.space(3);
        margin-bottom: functions.space(3);

        &:before {
            content: '';
            position: absolute;
            right: 7px;
            top: 3px;
            width: 22px;

            //background: -webkit-linear-gradient(#fff, #f0f0f0);
            //background: -moz-linear-gradient(#fff, #f0f0f0);
            //background: linear-gradient(#f5f5f5, #e0e0e0);
            background: #fff; //for Firefox in Android

            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            pointer-events: none;
            display: block;
        }

        &:after {
            content: url("/images/arrow-down-alt.svg");
            position: absolute;
            right: 45px;
            top: 45%;
            margin-top: -3px;
            z-index: 2;
            pointer-events: none;
            width: 0;
            height: 0;
            pointer-events: none;
        }

        select {
            width: 100%;
            font-size: 1.785rem;
            font-weight: bold;
            color: var(--grey-4);
            appearance: none;
            border: none;
            outline: none;
            padding: functions.space(3.75) functions.space(3.5);
            background: transparent;

            border-top: solid 1px var(--grey);
            border-bottom: solid 1px var(--grey);

            //fix for ie 10 later
            &::-ms-expand {
                display: none;
            }
        }
    }

    .footer__copyright {
        line-height: 200%;
        font-size: 1.125rem;
        text-align: center;
        font-weight: bold;
    }
}
