@use "../tools/functions";

.pub {
    .container {
        display: flex;
        justify-content: center;

        .pub__item {
            position: relative;

            &:first-child {
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
            }

            &:last-child {
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
            }

            .pub__item-content {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                padding: 0 functions.space(9.25);

                .pub__item-content-title {
                    font-family: "Core Sans C", serif;
                    color: var(--white);
                    font-weight: bold;
                    font-size: 2.125rem;
                    line-height: 3.125rem;
                    letter-spacing: 0.208px;
                    margin-bottom: functions.space(3.75);
                    text-transform: uppercase;
                }

                p {
                    font-family: "Causten", serif;
                    font-weight: 300;
                    color: var(--white);
                    font-size: 1.25rem;
                    letter-spacing: 1px;
                    margin-bottom: functions.space(6.25);
                }

                .pub__item-link {
                    color: var(--dark);
                    background: var(--white);
                    transition: .3s;
                    font-size: 1.125rem;
                    font-weight: bold;
                    padding: functions.space(1.5) functions.space(5.5);
                    border-radius: 8px;

                    &:hover, &:focus {
                        color: var(--white);
                        background: var(--primary);
                    }
                }
            }
        }
    }
}
