@use "../tools/functions";

.slider {
    position: relative;

    .slider__slides {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-bottom: 50%;


        .slider__slides-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.6s ease-in-out;

            img {
                width: 100%;
            }

            .slider__slides-item-infos {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: functions.space(5);
                top: 50%;
                transform: translateY(-50%);
                left: 10%;
                width: 440px;
                z-index: 10;

                .slider__slides-item-infos-category, .slider__slides-item-infos-title, .slider__slides-item-infos-tags {
                    color: var(--white);
                    font-family: "Core Sans C", serif;
                    font-size: 2rem;
                    line-height: 2.375rem;
                    letter-spacing: 0.157px;
                    text-transform: capitalize;
                }

                .slider__slides-item-infos-title {
                    font-size: 4.875rem;
                    line-height: 5.851rem;
                    letter-spacing: 0.315px;
                    font-weight: 800;
                }

                .slider__slides-item-infos-tags {
                    line-height: 2.951rem;
                    letter-spacing: 0.315px;
                }


                .btn {
                    padding: functions.space(2) functions.space(9);
                    margin-right: auto;
                    font-family: "Causten", serif;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }

            &.active {
                opacity: 1;
            }
        }
    }

    .slider__dots {
        display: flex;
        position: absolute;
        bottom: functions.space(6);
        left: 50%;
        transform: translateX(-50%);

        .slider__dots-item {
            display: block;
            width: 126px;
            height: 10px;
            background: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            transition: .3s;

            &:hover, &:focus {
                background: var(--grey-2);
            }

            &.active {
                background: var(--white);
            }

            &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }

    .slider__buttons {
        .slider__buttons-prev, .slider__buttons-next {
            position: absolute;
            background: url("/images/arrow-down-slider.svg") center center / 24px 44px no-repeat;
            width: 80px;
            height: 100%;
            z-index: 11;
            text-indent: -3000px;
            cursor: pointer;
            transition: .3s;
            opacity: .5;
            top: 0;
            left: 0;

            &:hover, &:focus {
                opacity: 1;
            }
        }

        .slider__buttons-next {
            right: 0;
            left: auto;
            transform: rotate(180deg);
        }
    }
}
