{% extends 'base.html.twig' %}

{% block content %}
    <section class="slider" autoplay="auto" duration="5">
        <div class="slider__slides">
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-1.png" alt="shop-hero-1-product-slide-1.png">
                <div class="slider__slides-item-infos">
                    <h3 class="slider__slides-item-infos-category">T-shirt / Tops</h3>
                    <h2 class="slider__slides-item-infos-title">Summer Value Pack</h2>
                    <h4 class="slider__slides-item-infos-tags">cool / colorful, comfy</h4>
                    <a href="#" class="btn">Shop Now</a>
                </div>
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-2.png" alt="shop-hero-1-product-slide-1.png">
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-3.png" alt="shop-hero-1-product-slide-1.png">
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-4.png" alt="shop-hero-1-product-slide-1.png">
            </div>
        </div>
    </section>
    <section class="deals">
        <div class="container">
            <div class="deals__item">
                <img height="355" src="/images/unsplash_Qyc13QBGaM4.png" alt="Unsplash High Coziness">
                <div class="deals__item-info">
                    <h6 class="deals__item-info-intro">Low Price</h6>
                    <h2 class="deals__item-info-title">High Coziness</h2>
                    <h3 class="deals__item-info-sub-title">UPTO 50% OFF</h3>
                    <a class="deals__item-info-link" href="#">Explore items</a>
                </div>
            </div>
            <div class="deals__item">
                <img height="355" src="/images/unsplash_Qyc13QBGaM7.png" alt="Unsplash Breezy Summer Style">
                <div class="deals__item-info">
                    <h6 class="deals__item-info-intro">Beygoung Presents</h6>
                    <h2 class="deals__item-info-title">Breezy Summer Style</h2>
                    <h3 class="deals__item-info-sub-title">UPTO 50% OFF</h3>
                    <a class="deals__item-info-link" href="#">Explore items</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="title">New Arrival</h2>
            <div class="carousel" slideToScroll="4" slidesVisible="4" loop="true">
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-27.png" alt="">
                    <h2 class="carousel__container-item-title">Knitted Joggers1</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-28.png" alt="">
                    <h2 class="carousel__container-item-title">Full Sleeve2</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-29.png" alt="">
                    <h2 class="carousel__container-item-title">Active T-Shirts3</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-30.png" alt="">
                    <h2 class="carousel__container-item-title">Urban Shirts4</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-27.png" alt="">
                    <h2 class="carousel__container-item-title">Knitted Joggers5</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-27.png" alt="">
                    <h2 class="carousel__container-item-title">Knitted Joggers6</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-27.png" alt="">
                    <h2 class="carousel__container-item-title">Knitted Joggers7</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-27.png" alt="">
                    <h2 class="carousel__container-item-title">Knitted Joggers8</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
