{% extends 'base.html.twig' %}

{% block content %}
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores error excepturi illo nam natus non nostrum
        perspiciatis porro qui, rem, rerum sapiente vero. A ab alias, aliquam aliquid assumenda at consequatur
        consequuntur deleniti dolores doloribus dolorum ea eaque eos error eum ex exercitationem harum ipsa itaque
        mollitia neque nisi odio odit officia perspiciatis placeat possimus quisquam quo reiciendis sint sunt tempora
        totam voluptates? Adipisci animi aut, dolores eum laborum nobis omnis ratione voluptatum? Accusantium commodi
        dolor facilis maxime minus nihil nulla officiis veniam. Eius impedit officia reiciendis! A adipisci consequuntur
        deleniti ducimus eaque ex excepturi maxime neque repudiandae ut?</p>

{% endblock %}
