{% extends 'base.html.twig' %}

{% block content %}
    <div class="slider" autoplay="auto" duration="5">
        <div class="slider__slides">
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-1.png" alt="shop-hero-1-product-slide-1.png">
                <div class="slider__slides-item-infos">
                    <h3 class="slider__slides-item-infos-category">T-shirt / Tops</h3>
                    <h2 class="slider__slides-item-infos-title">Summer Value Pack</h2>
                    <h4 class="slider__slides-item-infos-tags">cool / colorful, comfy</h4>
                    <a href="#" class="btn">Shop Now</a>
                </div>
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-2.png" alt="shop-hero-1-product-slide-1.png">
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-3.png" alt="shop-hero-1-product-slide-1.png">
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-4.png" alt="shop-hero-1-product-slide-1.png">
            </div>
        </div>
    </div>
    <section class="deals">
        <div class="container">
            <div class="deals__item">
                <img height="355" src="/images/unsplash_Qyc13QBGaM4.png" alt="Unsplash High Coziness">
                <div class="deals__item-info">
                    <h6 class="deals__item-info-intro">Low Price</h6>
                    <h2 class="deals__item-info-title">High Coziness</h2>
                    <h3 class="deals__item-info-sub-title">UPTO 50% OFF</h3>
                    <a class="deals__item-info-link" href="#">Explore items</a>
                </div>
            </div>
            <div class="deals__item">
                <img height="355" src="/images/unsplash_Qyc13QBGaM7.png" alt="Unsplash Breezy Summer Style">
                <div class="deals__item-info">
                    <h6 class="deals__item-info-intro">Beygoung Presents</h6>
                    <h2 class="deals__item-info-title">Breezy Summer Style</h2>
                    <h3 class="deals__item-info-sub-title">UPTO 50% OFF</h3>
                    <a class="deals__item-info-link" href="#">Explore items</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
