* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    hanging-punctuation: first last;
    color-scheme: dark light;
}

body {
    font-size: 16px;
    min-height: 100svh;
    font-family: "Causten", serif;
}

/* Responsive images/videos */
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

img {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    shape-margin: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

a {
    text-decoration: none;
    transition: .3s;
}

button {
    border: none;
    cursor: pointer;
}

form {
    display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*:focus:not(:focus-visible) {
    outline: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 1rem;
    }
}
