@use "../abstracts" as *;

.nav {
    --flex-column-gap: #{$navigation-gap};
    list-style: none;
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;

    a {
        transition: .3s;
        color: $navigation-color;
        text-decoration: $navigation-link-text-decoration;

        &:is(:hover, :focus, [aria-current="page"]) {
            color: $navigation-color-hover;
            font-weight: $navigation-font-weight-hover;
        }
    }
}
