@use "../abstracts" as *;

.flex-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--flex-column-gap, $flex-group-gap);
    row-gap: var(--flex-row-gap,$flex-group-gap);
    width: fit-content;
    justify-content: center;

    &[data-flex-justify="center"] {
        justify-content: center;
    }

    &[data-flex-align="center"] {
        align-items: center;
    }

    &[data-flex-direction="column"] {
        flex-direction: column;
    }

    &[data-flex-row-gap="reset"] {
        row-gap: initial;
    }

    &[data-flex-column-gap="reset"] {
        column-gap: initial;
    }
}

.flex-group.mx-auto {
    justify-content: center;
}
